<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    {% block title %}<title>Simple page</title>{% endblock %}
    {% block links %}{% endblock %}
</head>
<body>
{% block navigationBar %}{% endblock %}
{% block leftContent %}{% endblock %}
{% block mainContent %}{% endblock %}
{% block rightContent %}{% endblock %}
{% block modal %}{% endblock %}
{% block footer %}{% endblock %}
{% block javaScript %}{% endblock %}
</body>
</html>